@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --btc: #f2a900;
  --form-control-color: #f2a900;
}

::selection {
  background: var(--btc);
  color: rgb(39 39 42);
}

@layer base {
  
  html {
    scroll-behavior: smooth;
  }

  a:hover {
    @apply underline;
  }
}

@layer components {
  
  .button {
    @apply w-20 h-8 px-4 flex items-center justify-center text-sm bg-btc text-zinc-800 bg-opacity-80 rounded-sm shadow-sm hover:cursor-pointer hover:no-underline hover:border hover:border-btc;
  }
  
  .input {
    @apply w-20 bg-gray-50 border text-center text-zinc-900 text-sm rounded-lg border-gray-200 hover:bg-gray-100 focus:outline-none focus:z-10 focus:ring-2 focus:ring-gray-200 p-2.5;
  }

  .card {
    @apply bg-zinc-800 bg-opacity-70 rounded-sm shadow-md px-6 py-4 mt-10;
  }

  .card-header {
    @apply text-2xl mb-4;
  }

  .card-content {
    @apply text-sm font-mono;
  }

  /* History */
  .table {
    display: table;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
  }
  .row {
    display: table-row;
  }
  .header {
    font-weight: bold;
    background-color: #f2f2f2;
  }
  .cell {
    display: table-cell;
    padding: 8px;
    border: 1px solid #ddd;
  }
}

@layer utilities {}


input[type="radio"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: CanvasText;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="radio"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

.form-control {
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.7em;
}
